%nav.white{:role => "navigation"}
  .nav-wrapper.container
    %a#logo-container.brand-logo{:href => "#"} Logo
    
    - if user_signed_in?
      %ul.right.hide-on-med-and-down
        %li
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
      %ul.right.hide-on-med-and-down
        %li
          = link_to '投稿する', new_tweet_path
    - else
      %ul.right.hide-on-med-and-down
        %li
          = link_to '新規登録', new_user_registration_path
      %ul.right.hide-on-med-and-down
        %li
          = link_to 'ログイン', new_user_session_path
    %ul#nav-mobile.sidenav
      %li
        %a{:href => "#"} Navbar Link
    %a.sidenav-trigger{"data-target" => "nav-mobile", :href => "#"}
      %i.material-icons menu