= render "module/header"
#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      %h1.header.center.teal-text.text-lighten-2 Welcome to My Blog4
      .row.center
        %h5.header.col.s12.light This program is presented by Shun Fujiwara
      .row.center
        = link_to 'Get Started', tweets_path, class: "#download-button btn-large waves-effect waves-light teal lighten-1"
      %br/
      %br/
  .parallax
    %img{:alt => "Unsplashed background img 1", :src => "background1.jpg"}/
.container
  .section
    .row
      .col.s12.center
        %h3
          %i.mdi-content-send.brown-text
        %h4 What kind of site
        %p.left-align.light Hello! My name is Shu Fujiwara. I made a blog site. Since I am a new programmer, there are still some functional features, but I plan to update them from time to time. Please take a peek a little.