.contents{
  height: 100%;
  width: 100%;
  padding: 30px;
}
.contents__box{
  width: 800px;
  padding: 0.5em 1em;
  margin: 0 auto;
  border: double 5px #4ec4d3;
  padding-top: 30px;
  &__center{
    margin-bottom: 30px;
    padding: 0 0 0 20px;
    .user_name_image_box{
      display: flex;
    }
    .image_css {
      border-radius: 100px;
      object-fit: cover;
    }
    .image__box{
      text-align: center;
    }
    .user_name{
      height: 20px;
      padding-left: 10px;
      & span{
        vertical-align:-18%;
        font-size: 22px;
      }
    }
    .nameplate{
      width: 100%;
      text-align: center;
    }
    .text__area{
      text-align: left;
      height: 20px;
     & p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
    .text__end{
      text-align: right;
      margin-top: 10px;
    }
  }
}


.contents__space{
  height: 20px;
}